.row {
    margin-top: var(--bs-gutter-y);
}

.icon {
    border-radius: 50%;
    width: 40px;
}

.acteurs {
    margin-bottom: 30px;
}

.acteurs--presentation {
    text-align: center;
    padding-top: 40px;
}