@use 'variables';

%button {
    color: variables.$colorblue;
    grid-area: submit;
    background-color: variables.$colorblanc;
    border: 3px solid variables.$colornoir;
    text-align: center;
    &:hover, &:focus {
        cursor: pointer;
        background-color: variables.$colornoir;
    }
    padding: 0.6rem 3.2rem;
    border-radius: 25px;
}
