@use './variables';

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#carouselExampleIndicators {
    background-color: variables.$colornoir;
    padding-top: 30px;
    margin: 50px auto;
}

.carousel-indicators {
    position: relative;
}

#quantite {
    border: 6px solid variables.$colorblue;
    width: 95px;
    border-radius: 0.25rem;
}

.quantite {
    margin-bottom: 20px;
}

.btn {
    background-color: variables.$colorblue;
    color: variables.$colorblanc;
}