@use './variables';

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel.pointer-event {
    background-color: variables.$colornoir;
}

.carousel-indicators {
    position: relative;
}